<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <title>Shopping Lists</title>
  </head>
  <script>
    $(document).ready(function () {
      $("#createListModal").on("show.bs.modal", function (e) {
        userId = $(e.relatedTarget).data("user-id");
        $(e.currentTarget).find('input[id="userId"]').val(userId);
      });
    });
  </script>

  <body class="container">
    <div class="page-header header-container">
      <h1>Shopping Lists</h1>
      <a
        class="btn btn-success pull-right"
        data-title="Create List"
        data-toggle="modal"
        data-target="#createListModal"
        data-tooltip="tooltip"
        data-placement="left"
        title="Create List"
        data-user-id="2"
      >
        <span class="glyphicon glyphicon-plus"></span>Create
      </a>
    </div>
    <div class="table-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">List name</th>
            <th scope="col">Customer</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% if (lists) { lists.forEach(l => { %>
        <tbody>
          <tr>
            <td><div><%= l.list_name %></div></td>
            <td><div><%= l.customer %></div></td>
            <td class="table-cell-right">
              <a
                href="<%= apiUrl %>/details/<%= l.list_id %>"
                class="btn btn-primary"
              >
                <span class="glyphicon glyphicon-list-alt"></span>Details
              </a>
              <a
                class="btn btn-danger"
                href="<%= apiUrl %>/delete/<%= l.list_id %>"
              >
                <span class="glyphicon glyphicon-trash"></span>Delete
              </a>
            </td>
          </tr>
        </tbody>
        <% })} %>
      </table>
    </div>

    <div
      class="modal fade create-list-modal"
      id="createListModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="edit"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header dialog-header">
            <div class="dialog-header-item">
              <h4>Create List</h4>
            </div>
            <div class="dialog-header-item dialog-action">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <form
                id="createListForm"
                action="<%=apiUrl%>/insert"
                method="POST"
              >
                <label for="listName">List name</label>
                <input
                  type="text"
                  class="form-control"
                  id="listName"
                  name="listName"
                  required
                />
                <br />
                <label for="customer_id">Choose a customer:</label>
                <select
                  name="customer_id"
                  id="customer_id"
                  class="form-control"
                  required
                >
                  <option value="">- Select option -</option>
                  <% if (customers) { customers.forEach(l => { %>
                  <option value="<%= l.customer_id %>"><%= l.name %></option>
                  <% })}; %>
                </select>

                <div class="modal-footer dialog-footer">
                  <button
                    type="submit"
                    class="btn btn-success"
                    id="createListBtn"
                  >
                    <span class="glyphicon glyphicon-ok"></span>
                    Add List
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
